---
interface Props {
    href: string,
    text: string,
}
const { href, text } = Astro.props
---

<a class="lettSpcng-md block text-center text-base py-1 p-8 bg-[var(--secondary)] text-[var(--primary)] rounded-full scale-100 active:scale-90 duration-500 cursor-pointer" href={ href } target="_blank">
    { text }
</a>

<style>
    a {
        border: 1px var(--accent) solid;
    }
    a:hover {
        background-color: var(--accent);
    }
</style>