---
const { href } = Astro.props
---

<a class="lettSpcng-md block text-center text-base py-3 p-10 bg-[var(--bg)] text-white rounded-full scale-100 active:scale-90 duration-500 cursor-pointer" href={ href } target="_blank">
    <slot />
</a>

<style>
    a {
        border: 1px var(--bg) solid;
    }
    a:hover {
        background-color: white;
        color: var(--texto);
        border-color: var(--texto);
    }
</style>