---
interface Props {
    id: string,
    text: string,
}

const { id, text } = Astro.props
---

<div class="text-base md:text-xs flex flex-col items-center justify-center">
    <p class="lettSpcng-md text-base md:text-lg text-white" id={id}>00</p>
    <p class=" text-xs md:text-base text-white">{text}</p>
</div>