---

---

<article class="w-full h-32 bg-[var(--bg)] flex justify-center items-center gap-2 md:gap-4 relative">
    <img class="firstPlant h-auto max-w-14 md:max-w-20 rotate-[25%]" src="/img/planta_fecha.png" alt="">
    <p class="lettSpcng-md text-base md:text-lg text-white">04 · 05 · 2024</p>
    <img class="h-auto max-w-14 md:max-w-20 rotate-[25deg]" src="/img/planta_fecha.png" alt="">
</article>

<style>
    .firstPlant {
        transform: rotateY(180deg) rotate(25deg);
    }
</style>