---
const { id, src, alt } = Astro.props
---

<a id={ id } class="imgWedding block aspect-square h-[9.625rem] md:h-[16rem] w-auto overflow-hidden rounded  cursor-pointer">
    <img src={ src } alt={ alt } class="h-full w-full object-cover duration-1000 md:hover:scale-125"/>
</a>