---

---
<!-- Slder por terminar -->
<div class="galeria-item">
    <img
      loading="lazy"
      class="pic1"
      src="/css/assets/imgs/pic1.webp"
      alt="fotos Carlita y Alonso"
    />
  </div>

  <style>
    
    .galeria-item {
        width: 100%;
        left: 0;
        position: sticky;
        border-radius: 0.25rem;
        scroll-snap-align: center;
    }
    .galeria-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
  </style>