---
import Layout from '../layouts/Layout.astro';
import HeaderWedding from '../components/HeaderWedding.astro'
import ReceptionWedding from '../components/ReceptionWedding.astro'
import PhotosWedding from '../components/PhotosWedding.astro'
import DressCodeWedding from '../components/DressCodeWedding.astro'
import HotelRecptionWedding from '../components/HotelRecptionWedding.astro'
import GiftWedding from '../components/GiftWedding.astro'
import FooterWedding from '../components/FooterWedding.astro'
---

<Layout title="Alonso y Carlita">
	<main class="min-h-screen w-full relative">
		<img class="min-h-screen w-full fixed object-center object-cover z-0" src="/img/hero_bg.jpg" alt="">
		<span class="h-full w-full absolute z-10 bg-white/70"></span>
		<HeaderWedding />
		<ReceptionWedding />
		<PhotosWedding />
		<DressCodeWedding />
		<HotelRecptionWedding />
		<GiftWedding />
		<FooterWedding />
	</main>
</Layout>

<style>
	
</style>
