---
import Layout from '../layouts/Layout.astro';
import HeaderWedding from '../components/HeaderWedding.astro'
import ReceptionWedding from '../components/ReceptionWedding.astro'
import PhotosWedding from '../components/PhotosWedding.astro'
import DressCodeWedding from '../components/DressCodeWedding.astro'
import HotelRecptionWedding from '../components/HotelRecptionWedding.astro'
import GiftWedding from '../components/GiftWedding.astro'
import FooterWedding from '../components/FooterWedding.astro'
import DressCodeDivider from '../components/pieces/SectionDivider.astro';
import ParentSection from '../components/pieces/ParentSection.astro';
import HeroWeddTwo from '../components/HeroWeddTwo.astro';
import OneSliderSection from '../components/OneSliderSection.astro'
import CountdownWedding from '../components/CountdownWedding.astro';
import HeaderParallax from '../components/HeaderParallax.astro';
import EdgeDividerDown from '../components/pieces/EdgeDividerDown.astro';
import EdgeDividerUp from '../components/pieces/EdgeDividerUp.astro';
import CloudDivisorSolid from '../components/pieces/cloud_divisor_solid.astro';
import CloudDivisorOverlay from '../components/pieces/cloud_divisor_overlay.astro';
import DateWedding from '../components/pieces/DateWedding.astro'
---

<Layout title="Components List">
	<main class="h-full w-full">
		<HeaderParallax 
		husband="Alonso"
		wife="Carla"/>
		<EdgeDividerDown>
			<CloudDivisorSolid slot='solid' />
			<CloudDivisorOverlay slot='overlay' />
		</EdgeDividerDown>
		<ParentSection
		boyFather='Padre del Novio'
		boyMother='Madre del Novio'
		girlFather='Padre de la Novia'
		girlMother='Madre de la Novia'
		godfather='Al Pacino'
		godmother='Eva Green' />
		<EdgeDividerUp>
			<CloudDivisorSolid slot='solid' />
			<CloudDivisorOverlay slot='overlay' />
		</EdgeDividerUp>
		<DateWedding
		day="12"
		month="10"
		year="2024">
	</main>
</Layout>

<style>
	
</style>
