---
import CardOne from '@/components/cards/CardOne.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Components List">
	<main class="h-full w-full relative max-w-72">
		<CardOne
		href='buttons'
		src='https://img.freepik.com/vector-premium/coleccion-colorida-botones-diseno-web-diseno-plano_23-2147936416.jpg'
		alt='UI buttons for Alpes Agency'
		title='Buttons'
		/>
	</main>
</Layout>

<style>
	
</style>
