---
import Layout from '../layouts/Layout.astro';
import HeaderWedding from '../components/HeaderWedding.astro'
import ReceptionWedding from '../components/ReceptionWedding.astro'
---

<Layout title="Alonso y Carlita">
	<main class="min-h-screen w-full relative">
		<img class="min-h-screen w-full fixed object-center object-cover z-0" src="/img/hero_bg.jpg" alt="">
		<span class="h-full w-full absolute z-10 bg-white/60"></span>
		<HeaderWedding />
		<ReceptionWedding />
	</main>
</Layout>

<style>
	
</style>
