---
import Layout from '@/layouts/Layout.astro';
import HeaderWedding from '@/components/HeaderWedding.astro'
import ReceptionWedding from '@/components/ReceptionWedding.astro'
import PhotosWedding from '@/components/PhotosWedding.astro'
import DressCodeWedding from '@/components/DressCodeWedding.astro'
import HotelRecptionWedding from '@/components/HotelRecptionWedding.astro'
import GiftWedding from '@/components/GiftWedding.astro'
import FooterWedding from '@/components/FooterWedding.astro'
import DressCodeDivider from '@/components/pieces/SectionDivider.astro';
import ParentSection from '@/components/pieces/ParentSection.astro';
import HeroWeddTwo from '@/components/HeroWeddTwo.astro';
import OneSliderSection from '@/components/OneSliderSection.astro'
import CountdownWedding from '@/components/CountdownWedding.astro';
import HeaderParallax from '@/components/HeaderParallax.astro';
import EdgeDividerDown from '@/components/pieces/EdgeDividerDown.astro';
import EdgeDividerUp from '@/components/pieces/EdgeDividerUp.astro';
import CloudDivisorSolid from '@/components/pieces/cloud_divisor_solid.astro';
import CloudDivisorOverlay from '@/components/pieces/cloud_divisor_overlay.astro';
import DateWedding from '@/components/pieces/DateWedding.astro'
import LineDivisorOneLeft from '@/components/pieces/line_divisor_one_left.astro';
import Attribution from '@/components/pieces/Attribution.astro';
---

<Layout title="Components List">
	<main class="h-full w-full">
		<HeaderParallax 
		husband="Alonso"
		wife="Carla"/>
		<EdgeDividerDown>
			<CloudDivisorSolid slot='solid' />
			<CloudDivisorOverlay slot='overlay' />
		</EdgeDividerDown>
		<ParentSection
		boyFather='Padre del Novio'
		boyMother='Madre del Novio'
		girlFather='Padre de la Novia'
		girlMother='Madre de la Novia'
		godfather='Al Pacino'
		godmother='Eva Green' />
		<EdgeDividerUp>
			<CloudDivisorSolid slot='solid' />
			<CloudDivisorOverlay slot='overlay' />
		</EdgeDividerUp>
		<DressCodeWedding/>
		<EdgeDividerUp>
			<CloudDivisorSolid slot='solid' />
			<CloudDivisorOverlay slot='overlay' />
		</EdgeDividerUp>
		<div class="w-full h-32 bg-[var(--bg)] flex justify-center items-center gap-2 md:gap-4 relative z-50">
			<div class="w-1/5 max-w-32 text-[var(--contrast)]">
				<LineDivisorOneLeft />
			</div>
			<!-- <img class="firstPlant h-auto max-w-14 md:max-w-20 rotate-[25%]" src="/img/planta_fecha.png" alt="">  -->
			<div class="lettSpcng-md text-base md:text-lg text-[var(--contrast)] flex flex-col text-center gap-2">
				<p>LOS ESPERAMOS ESTE:</p>
				<p class="">12 · 10 · 2024</p>
			</div>
			<div class="rotY w-1/5 max-w-32 text-[var(--contrast)]">
				<LineDivisorOneLeft />
			</div>
			<!-- <img class="h-auto max-w-14 md:max-w-20 rotate-[25deg]" src="/img/planta_fecha.png" alt="">  -->
		</div>
		<EdgeDividerDown>
			<CloudDivisorSolid slot='solid' />
			<CloudDivisorOverlay slot='overlay' />
		</EdgeDividerDown>
		<FooterWedding />
		<EdgeDividerUp>
			<CloudDivisorSolid slot='solid' />
			<CloudDivisorOverlay slot='overlay' />
		</EdgeDividerUp>
		<Attribution />
	</main>
</Layout>

<style>
	
</style>
