---

---

<section class="h-full w-full relative grid text-center bg-white text-base md:text-lg z-40 pb-8 gap-10">
    <div class="lettSpcng h-32 bg-[var(--bg)] text-white flex flex-col justify-center items-center text-lg">
      <h2 class="text-white font-semibold">DRESS CODE</h2>
      <p class="text-white font-thin">FORMAL</p>
    </div>
    <h3 class="lettSpcng text-lg">PALETA DE COLORES</h3>
    <div class="flex flex-col text-center gap-4 md:gap-8">
        <h3 class="lettSpcng text-base md:text-lg">PARA ELLAS</h3>
        <div class="flex flex-wrap justify-center w-full gap-4 mx-auto max-w-[18.75rem] md:max-w-[22rem]">
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(193,162,137)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(242,149,73)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(186,136,180)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(162,204,90)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(214,168,176)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(232,225,96)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(114,126,82)]"></div>
        </div>
    </div>
    <div class="flex flex-col text-center gap-4 md:gap-8">
        <h3 class="lettSpcng text-base md:text-lg">PARA ELLOS</h3>
        <div class="flex flex-wrap justify-center w-full gap-4 mx-auto max-w-[18.75rem] md:max-w-[22rem]">
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(127,138,115)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(113,117,124)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(224,213,199)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(239,227,194)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(120,180,239)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(119,94,37)]"></div>
            <div class="h-12 md:h-14 w-12 md:w-14 rounded-full bg-[rgb(8,65,107)]"></div>
        </div>
    </div>
</section>

<style>
    section {
        grid-auto-rows: min-content;
    }
</style>