---
import IconsWedding from "./pieces/IconsWedding.astro"
---

<footer class="h-96 w-full relative z-40 bg-white grid justify-items-center place-content-center text-center">
    <img class="absolute w-64 md:w-72 left-0 right-0 mx-auto -top-32" src="/img/plantas_final.png" alt="" />
    <div class="lettSpcng mt-10 md:mt-20 mb-6">
      <p>¡Gracias por acompañarnos en este</p>
      <p>momento tan importante!</p>
    </div>
    <IconsWedding>
        <img src="/icons/anillos.png" alt="anillos-boda-alonso-y-carla"/>
    </IconsWedding>
</footer>