
<div class="relative h-full w-full flex flex-col items-center text-center bg-[var(--bg)] py-8 pb-12 gap-4 md:gap-8 z-[41]">

    <i class="h-auto w-12 md:w-16">
        <img src="/icons/regalo.png" alt="" />
    </i>
    <div class="regalos-texto">
      <p class="lettSpcng-md text-white">Si deseas realizarnos un regalo, puedes</p>
      <p class="lettSpcng-md text-white">contribuir con nuestro proyecto de vida juntos.</p>
    </div>
    <div class="regalos-texto">
      <p class="lettSpcng-md text-white">Carla García</p>
      <p class="lettSpcng-md text-white">C.I. 0923264865</p>
      <p class="lettSpcng-md text-white">Banco Guayaquil</p>
      <p class="lettSpcng-md text-white">Cta. Ahorros #4234974</p>
    </div>
</div>