---
import CountdownWedding from "./CountdownWedding.astro"

const { husband, wife } = Astro.props
interface Props {
    husband: string,
    wife: string,
}
---


<header class="min-h-screen max-h-[56.5rem] w-full bg-no-repeat bg-fixed bg-cover bg-center relative duration-300">
    <div class="overlay absolute h-full w-full bg-gradient-to-b from-transparent via-[var(--bg)_65%] to-[var(--bg)] z-10"></div>
    <div class="absolute bg-[var(--bg)] h-[35%] w-full bottom-0 left-0 right-0 z-20 flex flex-col items-center justify-center">
        <h1 class="handwriting animate-blurred-fade-in animate-delay-250 text-white text-center w-full mx-auto text-[5rem] md:text-9xl">{husband} y {wife}</h1>
        <CountdownWedding />
    </div>
</header>

<style>
    header {
        background-image: url('/img/iaPic18.jpg');
    }
</style>