---
import IconsWedding from '../components/pieces/IconsWedding.astro'
---

<section class="fotos">
    <IconsWedding>
        <img src="/css/assets/iconos/fotos.png" alt="" />
    </IconsWedding>
    <h2 class="fotos-titulo">NOSOTROS</h2>
    <div class="galeria">
      <div class="galeria-item">
        <img
          loading="lazy"
          class="pic1"
          src="/css/assets/imgs/pic1.webp"
          alt="fotos Carlita y Alonso"
        />
      </div>
      <div class="galeria-item">
        <img
          loading="lazy"
          class="pic2"
          src="/css/assets/imgs/pic2.webp"
          alt="fotos Carlita y Alonso"
        />
      </div>
      <div class="galeria-item">
        <img
          loading="lazy"
          class="pic3"
          src="/css/assets/imgs/pic3.webp"
          alt="fotos Carlita y Alonso"
        />
      </div>
      <div class="galeria-item">
        <img
          loading="lazy"
          class="pic4"
          src="/css/assets/imgs/pic4.webp"
          alt="fotos Carlita y Alonso"
        />
      </div>
      <div class="galeria-item">
        <img
          loading="lazy"
          class="pic5"
          src="/css/assets/imgs/pic5.webp"
          alt="fotos Carlita y Alonso"
        />
      </div>
      <div class="galeria-item">
        <img
          loading="lazy"
          class="pic6"
          src="/css/assets/imgs/pic6.webp"
          alt="fotos Carlita y Alonso"
        />
      </div>
    </div>
    <div class="social-texto">
      <p>
        Puedes encontrar los preparativos y las
        <br />
        memorias de nuestro gran día en
        <br />
        nuestra página.
      </p>
    </div>
    <div class="social-links">
      <div class="social-img">
        <img src="/css/assets/iconos/logo ig.png" alt="" />
      </div>
      <a href="https://www.instagram.com/alonsoycarla/" target="_blank"
        >@alonsoycarla</a
      >
      <p>#alonsoycarla</p>
    </div>
</section>

<style>
    
</style>