---
import IconsWedding from '../components/pieces/IconsWedding.astro'
import GalleryWedding from '../components/pieces/GalleryWedding.astro'
import SocialCard from '../components/pieces/SocialCard.astro'
---

<section class="w-full min-h-screen relative z-40 bg-white flex flex-col justify-center items-center gap-8 pt-12 text-center pb-8">
    <IconsWedding>
        <img src="/icons/fotos.png" alt="" />
    </IconsWedding>
    <h2 class="lettSpcng-md">NOSOTROS</h2>
    <GalleryWedding />
    <div class="lettSpcng-md">
      <p>
        Puedes encontrar los preparativos y las
        <br />
        memorias de nuestro gran día en
        <br />
        nuestra página.
      </p>
    </div>
    <SocialCard
    src="/icons/logo ig.png"
    alt="IG-alonsoycarla"
    href="https://www.instagram.com/alonsoycarla/"
    textA="@alonsoycarla"
    textP="#alonsoycarla" 
    />
</section>

<style>
    
</style>