---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--bg: rgb(134, 154, 148);
  		--text: rgb(93, 99, 99);
		--overlay: rgb(134, 154, 148, .5);
		--contrast: white;
	}
	h1, h2, h3 {
		text-wrap: balance;
	}
	p {
		text-wrap: pretty;
	}
	@font-face {
		font-family: 'micross';
		src: url('/fonts/micross.ttf') format('truetype');
	}

	* {
		font-family: 'micross', sans-serif;
	}
	.fade-up {
		animation: fade-up 750ms ease-in-out;
	}
	.fade-scroll {
		animation: fade-up ease-in;
		animation-timeline: view();
		animation-range: entry 15% cover 35%;
	}
	.lettSpcng {
		letter-spacing: 0.125rem;
	}
	@keyframes fade-up {
		0% {
			opacity: 0;
			transform: translateY(2.5rem) scale(0.8);
		}
		100% {
			opacity: 1;
			transform: translateY(0) scale(1);
			}
	}

	@keyframes reveal {
		from {
			opacity: 0;
			transform: translateY(5rem);
		}
		to {
			opacity: 1;
			transform: translateY(0rem);
		}
	}

	@keyframes fade-move-down {
		0% {
			transform: translate(0, -10px);
			opacity: 0;
			}
		50% {
			opacity: 1;
			}
		100% {
			transform: translate(0, 10px);
			opacity: 0;
			}
	}
	@media ( width > 767px ) {
		.lettSpcng-md {
			letter-spacing: 0.125rem;
		}
		.lettSpcng {
			letter-spacing: 0.25rem;
		}
	}
</style>
